.Card{
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden; 
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 400px;
}

.Card .Title{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;

}

.Card .Content{
    background: rgb(255, 255, 255);
    flex-grow: 1;
    color: rgb(0, 0, 0);
    padding-bottom: 15px;


}

